body {
    background-color: #9b59b6;
    color: white;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.buttons {
    width: 70px;
    height: 70px;
    color: white;
    background: none;
    border: 2px solid white;
    border-radius: 100%;
    font-size: 30px;
}

span {
    padding: 0px 20px;
    font-size: 30px;
}

.container {
    padding: 10px 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}